.entries:hover {
    text-decoration-line: underline;
}

.user-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: #794044;
    margin-bottom: 15px;
}

.level {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

.user-info {
    margin-left: 10px;
}