 @import url('https://fonts.googleapis.com/css?family=Catamaran|Quicksand|Sacramento&display=swap');

*,*::before,*::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.fadeTwo-appear, .fadeTwo-enter {
  opacity: 0;
  z-index: 1;
}
.fadeTwo-appear-active, .fadeTwo-enter-active {
  opacity: 1;
  transition: opacity 800ms linear 400ms;
}
.fadeTwo-exit {
  opacity: 1
}
.fadeTwo-exit.fadeTwo-exit-active {
  opacity: 0;
  transition: opacity 600ms linear;
}
