.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 530px;
  border: 2px solid black;
  border-radius: 8px;
}

.welcome {
  color: green 
  /* style is just as a placeholder will change later */
}

.navbar {
  border: 1px solid red;
  margin: 12px 15px; 
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
}

.navbar-links{
  display: flex;
  justify-content: space-between;
  width: 30%;

}

.active {
  border-bottom: 1px solid lightcoral;
}